@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: url(./background.jpg);  */
  height: 100vh;
  width: 100vw;
}
